:root {
  --anachat-font-size1: var(--jp-ui-font-size1);
  --anachat-title-font-size: var(--jp-ui-font-size0);
  
}

.jp-AnaChat {
  display: flex;
  flex-direction: column;
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  font-size: var(--anachat-title-font-size);
  height: 100%;
}


.jp-AnaChat header {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  flex: 0 0 auto;
  font-size: var(--anachat-title-font-size);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px;
  padding: 12px 0 4px 12px;
  text-transform: uppercase;
}


.anachat-header-widget {
  overflow: initial !important;
}

.anachat-title {
  display: inline-block;
}

.anachat-title:hover {
  cursor: pointer;
}

.jp-AnaChat-kernel {
  float: right;
}

.jp-AnaChat-kernel span {
  float: left;
  margin: 0 3px;
}

.anachat-icon {
  float: left;
  /*background-repeat: no-repeat;
  background-color: none;
  background-size: 100%;
  background-position: center;*/
  height: 12px;
  width: 12px;
  margin-right: 8px;
}

.jp-anachat-content {
  overflow: auto;
  height: 100%;
  padding-top: 0.8em;
}

.anachat-message {
  padding: 0 10px;
  width: 100%;
}

.anachat-message-inner {
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 0.8em;
  padding: 0.4em;
  
}

.anachat-message-user {
  margin-left: 4em;
  background-color: lightgray;
}

.anachat-message-bot {
  margin-right: 4em;
  background-color: lightblue;
}

.anachat-message-error {
  margin-right: 4em;
  background-color: lightpink;
}

.anachat-chatbox {
  background-color: white;
  position: sticky;
  bottom: 0;
  border-top: 1px solid gray;
  padding: 0.4em;
  padding-right: 1em;
}

.anachat-chatbox textarea {
  width: 100%;
}

.anachat-error-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 10px 0;
}

.anachat-error-display:hover {
  cursor: pointer !important;
}

.anachat-error-text {
  min-width: 400px;
  width: 99%;
  min-height: 200px;
}
